<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Notes</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">

    <a href="/"><h1>Notes</h1></a>

    <form class="form-group" action="/noteEdit" th:action="@{/noteEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${note.id}" />
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="${note.title}" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" th:field="${note.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
    </form>

</div>

</body>
</html>